<div class="app-action">
    <button mat-fab fxShow="false" fxShow.lt-lg>
        <mat-icon>add</mat-icon>
    </button>
</div>
<mat-card class="container">
    <mat-card-title>Clinicas</mat-card-title>
    <div class="app-actions" fxLayoutAlign="end center">
        <a mat-raised-button color="accent" [routerLink]="['/clinicas', 'criar']">Novo</a>
    </div>
    <div fxLayout="column">
        <mat-progress-bar [mode]="'query'" *ngIf="dataSource.isLoading"></mat-progress-bar>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let clinic"> {{ clinic.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
                <mat-cell *matCellDef="let clinic">
                    <button mat-icon-button (click)="view(clinic)">
                        <mat-icon>launch</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [length]="dataSource.count" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</mat-card>