<mat-card class="container">
    <mat-card-title>Informações</mat-card-title>
    <div fxLayoutAlign="end center" fxLayout="row" *ngIf="!patientId">
        <mat-slide-toggle #continuousMode>Modo contínuo</mat-slide-toggle>
    </div>
    <form [formGroup]="patientForm" (submit)="onSubmit()" appAutoFocus>
        <input type="hidden" formControlName="id">
        <div fxLayout="row">
            <mat-input-container fxFlex="50">
                <input matInput placeholder="Nome" formControlName="name">
                <mat-error>{{ patientForm.getControlMessages('name') }}</mat-error>
            </mat-input-container>
            <mat-input-container fxFlex="50">
                <input matInput placeholder="Sobrenome" formControlName="last_name">
                <mat-error>{{ patientForm.getControlMessages('last_name') }}</mat-error>
            </mat-input-container>
        </div>
        <div fxLayout="row">
            <mat-input-container fxFlex="50">
                <input matInput placeholder="Telefone" formControlName="phone">
                <mat-error>{{ patientForm.getControlMessages('phone') }}</mat-error>
            </mat-input-container>
            <mat-input-container fxFlex="50">
                <mat-select placeholder="Sexo" formControlName="sex">
                    <mat-option [value]="'M'">Masculino</mat-option>
                    <mat-option [value]="'F'">Feminino</mat-option>
                </mat-select>
            </mat-input-container>
        </div>
        <div fxLayout="row">
            <mat-input-container fxFlex="100">
                <mat-select placeholder="Clinica" formControlName="clinic" [compareWith]="defaultMatcher">
                    <mat-option *ngFor="let clinic of clinics" [value]="clinic">{{ clinic.name }}</mat-option>
                </mat-select>
            </mat-input-container>
        </div>
        <div class="app-actions" fxLayoutGap="10px" fxLayoutAlign="end center">
            <button type="button" mat-raised-button color="warn" *ngIf="patientForm.controls.id.value != ''" (click)="onDelete()" [appBtnLoader]="isSubmitting">
                <span *ngIf="!isSubmitting">Apagar</span>
            </button>
            <button mat-raised-button color="accent" [disabled]="!patientForm.valid" [appBtnLoader]="isSubmitting">
                <span *ngIf="!isSubmitting">Salvar</span>
            </button>
        </div>
    </form>
    <div class="overlay" *ngIf="isLoading">
        <mat-spinner style="margin: 0 auto"></mat-spinner>
    </div>
</mat-card>

<mat-card class="container" *ngIf="patientId">
    <mat-card-title>Agendamentos</mat-card-title>
    <mat-progress-bar [mode]="'query'" *ngIf="schedulesLoading"></mat-progress-bar>
    <ngx-datatable #schedulesTable [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [rows]="schedules" [externalSorting]="true"
        [externalPaging]="true" [selectionType]=false (activate)="viewSchedule($event)" [limit]="pageSize" [count]="scheduleCount"
        [offset]="0" (page)="paginateSchedules($event)">
        <ngx-datatable-column name="Data" prop="date" [width]="1">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'dd/MM/yy H:mm'}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                , let-curPage="curPage" let-offset="offset">
                <app-datatable-pager style="width:100%" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="schedulesTable.onFooterPage($event)">
                </app-datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</mat-card>