<mat-card class="container">
    <mat-card-title>Pacientes</mat-card-title>
    <div class="app-actions" fxLayout="column">
        <div fxLayoutAlign="end center">
            <a mat-raised-button color="accent" [routerLink]="['/pacientes/criar']">Novo</a>
        </div>
        <form [formGroup]="filterForm" (submit)="filter()" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign.gt-md="end center"
            fxLayoutAlign.lt-md="start stretch">
            <mat-input-container>
                <mat-select placeholder="Filtro" formControlName="field">
                    <mat-option [value]="'fullName'">Nome</mat-option>
                    <mat-option [value]="'phone'">Telefone</mat-option>
                </mat-select>
            </mat-input-container>
            <mat-input-container>
                <input matInput placeholder="Pesquisar" formControlName="value">
                <button mat-button mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-input-container>
        </form>
    </div>
    <div fxLayout="column">
        <mat-progress-bar [mode]="'query'" *ngIf="isLoading"></mat-progress-bar>
        <ngx-datatable #patientTable [columnMode]="'force'" [rowHeight]="'auto'" [footerHeight]="50" [rows]="patients" [externalSorting]="true"
            [externalPaging]="true" [selectionType]=false (activate)="view($event)" [limit]="pageLimit" [count]="patientCount"
            [offset]="0" (page)="paginate($event)" (sort)="sort($event)">
            <ngx-datatable-column name="Nome" prop="name" [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sobrenome" prop="last_name" [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Clinica" prop="clinic.name" [width]="1" [sortable]="false">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                    , let-curPage="curPage" let-offset="offset">
                    <app-datatable-pager style="width:100%" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="patientTable.onFooterPage($event)">
                    </app-datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
</mat-card>
