<div class="container" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
        <button mat-icon-button (click)="previousMonth()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h1 class="current-period">{{ currentMonthLabel }}</h1>
        <button mat-icon-button (click)="nextMonth()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="start stretch" fxLayoutGap="20px">
        <!--Pending schedules cards -->
        <mat-card class="mini-report" fxFlex="25" fxLayout="column" (click)="viewPendingSchedules()">
            <mat-card-title>Consultas a confirmar</mat-card-title>
            <div fxLayoutAlign="start start" *ngIf="pendingSchedules | async as pendingSchedules; else pendingSchedulesLoading">
                <mat-icon class="mini-report">schedule</mat-icon>
                <p fxFlex class="huge" fxLayoutAlign="end end">{{ pendingSchedules.count }}</p>
            </div>
            <ng-template #pendingSchedulesLoading>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
            <div fxLayoutAlign="end end">
                <mat-hint>Clique para visualizar</mat-hint>
            </div>
        </mat-card>
        <!--Attendance rate card -->
        <mat-card class="mini-report" fxFlex="25" fxLayout="column" (click)="viewSchedules()">
            <mat-card-title>Taxa de comparecimento</mat-card-title>
            <div fxLayoutAlign="start start" *ngIf="attendanceRatio | async as attendanceRatio; else attendanceLoading">
                <mat-icon class="mini-report">account_circle</mat-icon>
                <div fxFlex fxLayoutAlign="end end">
                    <p class="huge">{{ attendanceRatio[startDate].ratio | percent:'0.0-1' }}</p>
                    <span style="color:#FFEB3B" *ngIf="calculatePercentage(attendanceRatio[startDate].ratio, attendanceRatio[refStartDate].ratio) == 0">
                        ({{ calculatePercentage(attendanceRatio[startDate].ratio, attendanceRatio[refStartDate].ratio) }}%)
                    </span>
                    <span style="color:red" *ngIf="calculatePercentage(attendanceRatio[startDate].ratio, attendanceRatio[refStartDate].ratio) < 0">
                        ({{ calculatePercentage(attendanceRatio[startDate].ratio, attendanceRatio[refStartDate].ratio) }}%)
                    </span>
                    <span style="color:green" *ngIf="calculatePercentage(attendanceRatio[startDate].ratio, attendanceRatio[refStartDate].ratio) > 0">
                        (+ {{ calculatePercentage(attendanceRatio[startDate].ratio, attendanceRatio[refStartDate].ratio) }}%)
                    </span>
                </div>
            </div>
            <ng-template #attendanceLoading>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
            <div fxLayoutAlign="end end">
                <mat-hint>Clique para visualizar</mat-hint>
            </div>
        </mat-card>
        <!--Schedule count card -->
        <mat-card class="mini-report" fxFlex="25" fxLayout="column" (click)="viewSchedules()">
            <mat-card-title>Agendamentos</mat-card-title>
            <div fxLayoutAlign="start start" *ngIf="schedules | async as schedules; else schedulesLoading">
                <mat-icon class="mini-report">insert_invitation</mat-icon>
                <div fxFlex fxLayoutAlign="end end">
                    <p class="huge">{{ schedules.count }}</p>
                    <div *ngIf="refSchedules | async as refSchedules;">
                        <span style="color:#FFEB3B" *ngIf="calculatePercentage(schedules.count, refSchedules.count) == 0">
                            ({{ calculatePercentage(schedules.count, refSchedules.count) }}%)
                        </span>
                        <span style="color:red" *ngIf="calculatePercentage(schedules.count, refSchedules.count) < 0">
                            ({{ calculatePercentage(schedules.count, refSchedules.count) }}%)
                        </span>
                        <span style="color:green" *ngIf="calculatePercentage(schedules.count, refSchedules.count) > 0">
                            (+{{ calculatePercentage(schedules.count, refSchedules.count) }}%)
                        </span>
                    </div>
                </div>
            </div>
            <ng-template #schedulesLoading>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
            <div fxLayoutAlign="end end">
                <mat-hint>Clique para visualizar</mat-hint>
            </div>
        </mat-card>
        <!--Patient count card -->
        <mat-card class="mini-report" fxFlex="25" fxLayout="column" (click)="viewPatients()">
            <mat-card-title>Pacientes</mat-card-title>
            <div fxLayoutAlign="start start" *ngIf="patients | async as patients; else patientsLoading">
                <mat-icon class="mini-report">person_add</mat-icon>
                <div fxFlex fxLayoutAlign="end end">
                    <p class="huge">{{ patients.count }}</p>
                    <!-- <span style="color:green">(+12)</span> -->
                </div>
            </div>
            <ng-template #patientsLoading>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
            <div fxLayoutAlign="end end">
                <mat-hint>Clique para visualizar</mat-hint>
            </div>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="start stretch">
        <mat-card class="chart-report" fxFlex="100" fxLayout="column" style="padding-left:0">
            <div *ngIf="attendance | async as attendance; else chartLoading" style="min-height: 400px">
                <ngx-charts-area-chart [results]="attendance" [xAxis]="true" [yAxis]="true" [curve]="curveFunction" [customColors]="attendanceChartColors">

                </ngx-charts-area-chart>
            </div>
            <ng-template #chartLoading>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
        </mat-card>
    </div>
</div>
