<div class="container">
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">
    <md-card fxFlex="100">
      <md-card-title>Consultas a confirmar</md-card-title>
      <div class="app-actions" fxLayoutGap="10px" fxLayoutAlign="end center">
        <button type="button" md-raised-button color="accent" (click)="setStatus(1)" [disabled]="isLoading">
          <span *ngIf="!isLoading">Compareceu</span>
          <md-spinner class="btn" *ngIf="isLoading"></md-spinner>
        </button>
        <button type="button" md-raised-button color="warn" (click)="setStatus(2)" [disabled]="isLoading">
          <span *ngIf="!isLoading">Faltou</span>
          <md-spinner class="btn" *ngIf="isLoading"></md-spinner>
        </button>
        <button type="button" md-raised-button (click)="setStatus(3)" [disabled]="isLoading">
          <span *ngIf="!isLoading">Cancelou</span>
          <md-spinner class="btn" *ngIf="isLoading"></md-spinner>
        </button>
      </div>
      <md-progress-bar [mode]="'query'" *ngIf="isLoading"></md-progress-bar>
      <ngx-datatable #pendingSchedulesTable
        [columnMode]="'force'"
        [footerHeight]="50"
        [externalSorting]="true"
        [externalPaging]="true"
        [rows]="pendingSchedules"
        [selected]="selectedSchedules"
        [selectionType]="'multiClick'"
        [limit]="pageLimit"
        [count]="scheduleCount"
        [offset]="0"
        (page)="paginate($event)"
        (sort)="sort($event)">
        <ngx-datatable-column name="Nome" prop="patient.name" [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Sobrenome" prop="patient.last_name" [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Data" prop="date" [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date:'dd/MM/yy H:mm'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
                <ng-template
                    ngx-datatable-footer-template
                    let-rowCount="rowCount"
                    let-pageSize="pageSize"
                    let-selectedCount="selectedCount",
                    let-curPage="curPage"
                    let-offset="offset">
                    <app-datatable-pager
                        style="width:100%"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="pendingSchedulesTable.onFooterPage($event)">
                    </app-datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
      </ngx-datatable>
      <div fxLayoutGap="10px" fxLayoutAlign="end center">
        <md-hint>Selecione vários agendamentos utilizando SHIFT</md-hint>
      </div>
    </md-card>
    <!--<md-card fxFlex="30">
      <md-card-title>Informações de Janeiro</md-card-title>
    </md-card>-->
  </div>
  <!--<div fxLayout="row">
    <md-card fxFlex="100">
      <md-card-title>Gráficos</md-card-title>
    </md-card>
  </div>-->
</div>