mat-card.mini-report{
    min-height: 150px;
    cursor: pointer;
}

mat-icon.mini-report {
    height: 48px;
    width: 48px;
    font-size: 48px;
}

mat-card.chart-report{
    min-height: 400px;
}

.huge{
    font-size: 48px;
    margin: 0;
    padding-bottom: 8px;
}
