@import '../variables';

html, body, mat-sidenav-container, .content {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

mat-sidenav {
    width: 280px;
}

mat-spinner.btn {
    height: 36px;
}

.container {
    margin: 15px;
}

.app-action {
    z-index: 1000;
    position: fixed;
    right: 2%;
    bottom: 3%;
}

button.fab-no-shadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

button.fab-no-shadow :hover :active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none!important;
    box-shadow: none !important;
}

table.material > thead > tr {
    font-weight: 800;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

table.material tr {
    height: 48px;
}

table.material > tbody {
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

button.attended {
    background-color: #4CAF50;
    color: white;
}


mat-dialog-container.mat-dialog-container{
    padding: 0;
}

mat-dialog-container > app-schedule-detail > mat-card{
    margin: 0;
}

table.material {
    width: 100%;
    border-collapse: collapse;
}

.app-actions {
    margin: 16px 0 16px 0;
}

.text-center {
    text-align: center;
}


tr.hoverable {
    transition: background-color 0.5s ease;
}

tr.hoverable:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}